/* ==========================
   MENU FULLPAGE CSS
========================== */

.panel {
    position: fixed;
    left: -100%;
    /*left or right and the width of your navigation panel*/
    width: 100%;
    /*should match the above value*/
}

.menu-link i {
    text-decoration: none;
    font-size: 40px;
    color: rgb(255, 255, 255);
}

#menu,
#menu a {
    background: rgba(33, 33, 33, 0);
    z-index: 998;
}

#menu ul,
#menu {
    margin-top: 2.2%;
    margin-left: 6%;
}

#menu li,
#menu a {
    text-align: center;
    transition: all 0.4s ease;
    padding: 20px 0;
}

#menu li a,
#menu a {
    color: rgb(255, 255, 255);
    font-size: 23px;
    letter-spacing: 1px;
    text-decoration: none;
    text-transform: uppercase;
    padding: 20px 10px;
}

#menu li a.active,
#menu a.active {
    color: #edad29;
}

#menu li a:hover,
#menu a:hover {
    color: #edad29;
}

.menu-link {
    z-index: 999;
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    margin: 0;
    padding: 0;
    width: 80px;
    height: 80px;
    font-size: 0;
    text-indent: -9999px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    box-shadow: none;
    border-radius: none;
    border: none;
    cursor: pointer;
    -webkit-transition: background 0.3s;
    transition: background 0.3s;
    background-color: transparent;
}

.menu-link:focus {
    outline: none;
}


/*adjust menu bars*/

.menu-link span {
    display: block;
    position: absolute;
    top: 55px;
    left: 33px;
	right: 1px;
    height: 6px;
    border-radius: 2px;
    background: #edad29;
    -webkit-transition: background 0 0.3s;
    transition: background 0 0.3s;
}

.menu-link span::before,
.menu-link span::after {
    position: absolute;
    display: block;
    left: 0;
    width: 76%;
    height: 6px;
    border-radius: 2px;
    background-color: #5e5456;
    content: "";
    -webkit-transition-duration: 0.3s, 0.3s;
    transition-duration: 0.3s, 0.3s;
    -webkit-transition-delay: 0.3s, 0;
    transition-delay: 0.3s, 0;
}

.menu-link span::before {
    top: -15px;
    -webkit-transition-property: top, -webkit-transform;
    transition-property: top, transform;
}

.menu-link span::after {
    bottom: -15px;
    -webkit-transition-property: bottom, -webkit-transform;
    transition-property: bottom, transform;
}


/* active state, i.e. menu open */

.menu-open {
    background-color: transparent;
}

.menu-open span {
    background: none;
}

.menu-open span::before {
    top: 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.menu-open span::after {
    bottom: 0;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.menu-open span::before,
.menu-open span::after {
    -webkit-transition-delay: 0, 0.5s;
    transition-delay: 0, 0.5s;
}

@media screen and (max-width: 2560px) {
    #menu {
        margin-top: 1.6%;
        margin-left: 5.5%;
    }
	.menu-open span::before, .menu-open span::after {
		margin-left: 30%;
	}
}
@media screen and (max-width: 2000px) {
	#menu {
		margin-top: 1.9%;
		margin-left: 6.3%;
	}
}

@media screen and (max-width: 1440px) {
    #menu ul {
        margin-top: 100px;
    }
    #menu {
        margin-top: 2.8%;
        margin-left: 8%;
    }
}

@media screen and (max-width: 1024px) {
    #menu a {
        font-size: 18px;
    }
    #menu {
        margin-top: 4.4%;
        margin-left: 11%;
	}
}

@media screen and (max-width: 991px) {
    #menu li a {
        font-size: 20px;
    }
}

@media screen and (max-width: 900px) {
	#menu {
		margin-top: 4.8%;
		margin-left: 12%
	}
}

@media screen and (max-width: 800px) {
    #menu li {
        padding: 15px 0;
    }
    #menu ul {
        margin-top: 140px;
    }
    #menu {
        margin-top: 4.2%;
        margin-left: 11.5%;
    }
	.menu-link span::before {
    	top: -10px;
		height: 4px;
	}
	.menu-link span::after {
    	bottom: -10px;
		height: 4px;
	}
	.menu-link span {
		top: 45px;
		height: 4px;
		width: 40%;
	}
	.menu-open span::after {
		top: -10px;
	}
	.menu-open span::before {
		bottom: -10px;
	}
	.menu-open span {
		top: 55px;
	}
}

@media screen and (max-width: 768px) {
	#menu {
		margin-top: 4.3%;
	}
}

@media screen and (max-width: 667px) {
	#menu {
		margin-top: 5.1%;
		margin-left: 12.5%;
	}
	#menu a {
		font-size: 0.7em;
	}
}

@media screen and (max-width: 568px) {
	#menu {
		margin-top: 5.8%;
	}
	.menu-link span {
		left: 23px;
	}
	.menu-open span {
		left: 17px;
	}
}

@media screen and (max-width: 500px) {
	#menu {
		margin-top: 6.5%;
	}
	#menu a {
		padding: 7px 5px;
	}
}

@media screen and (max-width: 480px) {
    #menu,
    #menu ul {
        margin-top: 7%;
        margin-left: 14%;
    }
    #menu a {
        margin-top: 70%;
        margin-bottom: 80%;
    }
    #menu li a,
    #menu a {
        font-size: 0.7em;
        padding: 7px 3px;
    }
	.menu-open span::after, 
	.menu-open span::before {
		max-width: 70%;
	}
	.menu-link span {
		left: 28px;
		right: 7.5px;
		top: 45px;
		max-width: 60%;
	}
	.menu-open span {
		top: 55px;
		left: 20px;
	}
}

@media screen and (max-width: 425px) {
	#menu {
		margin-top: 8%;
		margin-left: 13%;
	}
}

@media screen and (max-width: 375px) {
	#menu {
        margin-top: 8.7%;
        margin-left: 12%;
    }
	.menu-link span {
		left: 14px;
	}
	.menu-open span {
		left: 10px;
	}
}

@media screen and (max-width: 320px) {
	#menu {
		margin-top: 10.5%;
		margin-left: 10%;
	}
}